.release{
    margin-top: 10px;
    margin-bottom: 10px;
}
.releaselist{
    list-style: none;
    padding: 0;
    margin: 0;
}
.releaserow{
    float: left;
    width: 480px;
    border-bottom: 1px solid #ededed
}
.releaseart{
    float: left;
    padding-right: 8px;
    padding-top: 5px;
    width: 60px;
    height: 60px;
}
.releaseinfo{
    white-space: normal;
    overflow: hidden;
    font-size: .9em;
}
.releaseartists{
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3em;
}
.coveroverlay{
    display: inline-block;
    position: absolute;
    height: 60px;
    width: 60px;
    background: white;
    opacity: 0;
}

.coveroverlay:hover {
    opacity: 1;
    height: 60px;
    width: 60px;

    background-repeat: no-repeat;
}
a.sm2_paused:hover .coveroverlay:hover,
a.sm2_link:hover .coveroverlay:hover{
 background-image:url(image/icon-play.png);
 background-position:50% 50%;
 background-repeat:no-repeat;
 _background-image:url(image/icon-play.gif); /* IE 6 */
}
a.sm2_link:hover .coveroverlay:hover{
 /* default hover color, if you'd like.. */
 background-color: transparent;
 color:#fff;
}
a.sm2_paused .coveroverlay{
 background-color: transparent;
}
a.sm2_paused:hover .coveroverlay:hover{
 background:transparent url(image/icon-play.png) no-repeat 50% 50%;
 _background-image:url(image/icon-play.gif);
}
a.sm2_playing .coveroverlay,
a.sm2_playing:hover .coveroverlay:hover{
 background:transparent url(image/icon-pause.png) no-repeat 50% 50%;
 _background-image:url(image/icon-pause.gif);
 text-decoration:none;
}

