body {
    font-family: Verdana, Arial;
}
.releaselist{
    list-style: none;
    padding: 0;
    margin: 0;
}
.releaserow{
    float: left;
    width: 480px;
}
.releaseart{
    float: left;
    padding-right: 8px;
}
.releaseinfo{
    white-space: normal;
    overflow: hidden;
    font-size: .9em;
}
.releaseartists{
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3em;
}





