body {
    font-family: Verdana, Arial;
}
.releaselist{
    list-style: none;
    padding: 0;
    margin: 0;
}
.releaserow{
    float: left;
    width: 480px;
    margin-bottom: 10px;
}
.releaseart{
    float: left;
    padding-right: 8px;
}
.releaseinfo{
    white-space: normal;
    overflow: hidden;
    font-size: .9em;
}
.releaseartists{
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3em;
}
.coveroverlay {
    display: none;
    width: 100%;
    height:100%;
    background: black;
    opacity: 1;
}

 a.sm2_link {}
 a.sm2_link:hover .coveroverlay { display: block; }

 a.sm2_playing {}
 a.sm2_playing:hover {}

 a.sm2_paused {}
 a.sm2_paused:hover {}



